include:
  - component: git.ligo.org/computing/gitlab/components/python/sdist@1
  - component: git.ligo.org/computing/gitlab/components/python/wheel@1
  - component: git.ligo.org/computing/gitlab/components/python/code-quality@1
    inputs:
      requirements: ".[lint]"
  - component: git.ligo.org/computing/gitlab/components/python/dependency-scanning@1
#  - component: git.ligo.org/computing/gitlab/components/python/type-checking@1
  - component: git.ligo.org/computing/gitlab/components/python/test@1
    inputs:
      install_extra: test
      python_versions:
        - "3.9"
        - "3.10"
        - "3.11"
#        - "3.12"  # TODO uncomment this when torch support is available for 3.12
  - component: git.ligo.org/computing/gitlab/components/sphinx/apidoc@1
    inputs:
      image: python:3.12
      module_dir: "src/sgnligo"
      sphinx_sourcedir: "docs"
      requirements: ".[docs]"
  - component: git.ligo.org/computing/gitlab/components/sphinx/build@1
    inputs:
      image: python:3.12
      sphinx_sourcedir: "docs"
      requirements: ".[docs]"
  - component: git.ligo.org/computing/gitlab/components/sphinx/pages@1
    inputs:
      pages_when: "default"

python_test:
  before_script:
    - echo "Manually installing system dependencies"
    - |
      apt-get update
      apt-get install -yqq graphviz
    - echo "Manually installing pip dependencies"
    - |
      pip install lalsuite
      pip install torch
      pip install gwpy
    - echo "Installing SGN Family libraries"
    - |
      pip install -r build_requirements.txt


flake8-code_quality:
  image: python:3.12
  before_script:
    - echo "Manually installing system dependencies"
    - |
      apt-get update
      apt-get install -yqq graphviz
    - echo "Manually installing pip dependencies"
    - |
      pip install lalsuite
      pip install torch
      pip install gwpy
    - echo "Installing SGN Family libraries"
    - |
      pip install -r build_requirements.txt
